<div class="form-group">
	<label {{bind-attr for="textField.elementId"}}>{{label}}</label>
	{{input 
		value=value
		class="form-control"
		placeholder=label
    type="number"
    min="0"
    max="20"
		viewName="textField"
		focus-out="acceptChanges"
		insert-newline="acceptChanges"}}
</div>