<div class="form-group">
	<label {{bind-attr for="numericField.elementId"}}>{{label}}</label>
	{{input 
		value=value
		class="form-control"
		placeholder=label
    type="number"
    min=min
    max=max
		viewName="numericField"
		focus-out="acceptChanges"
		insert-newline="acceptChanges"}}
</div>