$control-view-background-opacity: 0.8;
$control-icon-font-size: 25px;

$android-normal-edit-text-color: #a9a9a9;
$android-list-view-cell-border-color: #d9d9d9;
$android-web-view-background-color: #000000;
$android-list-view-cell-border-font-size: 15px;


$ios-primary-color: #007aff;
$ios-border-color: #c8c8c8;
$ios-button-view-color: #3e5887;
$ios-web-view-border-color: #000000;
$ios-web-view-background-color: #000000;
$ios-placeholder-color: #c7c7cd;
$ios-list-view-cell-border-color: #c8c7cc;
$ios-list-view-cell-font-size: 20px;
