<div class="control-content">
	{{#if isWithImage}}
		<img src="images/ui_controls/android/grid_image.jpg"/>
	{{else}}
		{{#if isDetailed}}
			<img src="images/ui_controls/android/grid_image.jpg" />
			<p>{{title}}</p>
		{{else}}
			<img src="images/ui_controls/android/grid_image_empty.jpg" />
			<p>{{title}}</p>
		{{/if}}
	{{/if}}
</div>
{{#link-to "controlGridViewCell" this tagName="div" class="inner-control"}}{{/link-to}}