<div class="control-content">
  {{#if title}}
    <span class="title">&nbsp;{{title}}</span>
  {{else}}
    <span class="placeholder">&nbsp;{{placeholder}}</span>
  {{/if}}
</div>
{{#link-to "controlEditText" this tagName="div" class="inner-control"}}{{/link-to}}