<h1>Protoc<i class="fa fa-code"></i>de <small>From idea to mobile app</small></h1>
Project thesis made by Aldo Pintus.
<br><br><br>
What's new in Protoc<i class="fa fa-code"></i>de v2.0?
<ul>
	<li>Introduced Nexus 6P and Android Marshmellow</li>
	<li>Introduced iPhone 6 Plus and iOS 9</li>
	<li>Upgraded UI elements</li>
</ul>
<br><br>
Links :
<ul>
	<li>
		<a href="https://github.com/deib-polimi/protocode" target="_blank">
			Protoc<i class="fa fa-code"></i>de v1.0 project thesis made by Mattia Natali.
		</a>
	</li>
</ul>