<h1>Protoc<i class="fa fa-code"></i>de <small>From idea to mobile app</small></h1>
Project thesis made by Aldo Pintus.
<br><br><br>
What's new in Protoc<i class="fa fa-code"></i>de v2.0?
<ul>
	<li>Introduced Android Marshmellow and iOS 9</li>
	<li>Introduced new devices : Nexus 6P, iPhone 6 and iPhone 6 Plus</li>
	<li>Upgraded existing UI elements</li>
	<li>Introduced new UI elements : Switches, Sliders, Map, DatePickers, Timepickers and CardView</li>
</ul>
<br><br>
Links :
<ul>
	<li>
		<a href="https://github.com/deib-polimi/protocode" target="_blank">
			Protoc<i class="fa fa-code"></i>de v1.0 project thesis made by Mattia Natali.
		</a>
	</li>
</ul>
